
.loginbg{
	background-image: url(../images/loginbody.jpg);
	background-repeat: no-repeat;
background-size: cover;
margin: 0;
padding: 0;
min-width: 1200px;

font-family: "PingFang SC","Microsoft YaHei",SimSun;
}
 .container::before{
    display: table;
    content: " ";
}
.container::after{
    display: table;
    content: " ";
}
/*login*/

/*login*/
/*login-header*/
.header ul{float:right; padding-right:30px; list-style:none;}
.header ul li{float:left; margin-left:20px; }
.header ul li a{border:solid 2px #fff; border-radius:7px; color:#fff;line-height:40px; text-decoration:none;font-size:16px;text-align:center;display:block; padding:0px 10px;}
.header ul li a:hover{color:#ff6600; border:none;}
.login-header {
		height: 80px;
		display: block;
		margin: 0;
        padding: 0;
		border-bottom:solid 2px #ddd;
		
}

*, *::after, *::before {
    box-sizing: border-box;
	
}
.login-header .container {
    height: 80px;
}

.container, .container-fluid {
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
}
.pull-left {
    float: left !important;
}
.text-warning {
    color: #ff9f00;
}
a, a:focus, a:hover {
    text-decoration: none;
}
.login-header .icon-logo-copy {
    width: 100px;
    height: 80px;
    text-align: center;
    line-height: 80px;
    font-size: 32px;
	font-family: Microsoft YaHei;
}
.login-header .login-header-txt {
    float: left;
    font-size: 21px;
    line-height: 22px;
    padding-left: 15px;
    border-left: solid 1px #ddd;
    margin: 29px 0 29px 15px;
    color: #7f7f7f;
	
}
.login-header .login-header-txt2 {
    float: right;
    color: #9b9b9b;
    line-height: 22px;
    margin: 29px 0;
    font-size: 16px;
}
.login-header .login-header-txt2 a{
	  float: right;
	color:#ff9f00;
	display:block;
}
 .login-header-txt2 a:hover{
	color: #555;
	border:solid 2px #555;
}
.padding-r-10 {
    padding-right: 10px !important;
}
/*login-header*/

.login.margin-t-170 {
    margin-top: 150px;
}
.login {
    width: 550px;
    min-height: 427px;
    margin: 0 auto;
    background: #fff;
    border-radius: 6px;
    position: relative;
	opacity: .89;
}
.login-tit2 {
    height: 80px;
    padding-left: 50px;
    padding-right: 50px;
	background-color:#808000;
	color: #000;
	border-radius: 6px 6px 0 0;
	line-height: 50px;
	border-bottom:3px solid #c0c0c0;
}
.login-tit2 p.font-14 {
    height: 30px;
    line-height: 18px;
    padding-top: 10px;
}
.font-14 {
    font-size: 14px !important;
}
p {
    word-break: break-all;
	margin: 0;
padding: 0;
}
.login-tit2 p.font-14 span {
    
    display: inline-block;
    background: rgba(255,255,255,.29);
    border-radius: 19px;
    padding: 2px 10px;
}
.login-tit2 p.font-14 a {
    color: #fff;
   
}
.login-tit2 p.font-14 a:hover {
	color: #0080ff;
}
.login-tit2 p.font-20 {
    text-align: center;
    line-height: 40px;
}
.font-20 {
    font-size: 20px !important;
}


.login-box {
    padding: 30px 50px 20px;
	margin: 0;
}
form {
	margin: 0;
padding: 0;
}
.login-box .form-group {
    height: 44px;
    position: relative;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
}
.login-box .form-group label.label-ico {
    width: 44px;
    height: 44px;
    position: absolute;
    left: 0;
    top: 0;
    text-align: center;
    line-height: 44px;
	
	
}
label {
    font-weight: 400;
	display: inline-block;
	max-width: 100%;
}
.iconfont {
    -webkit-text-stroke-width: 0 !important;
	font-size: 16px;
	font-family: iconfont !important;
	font-style: normal;
	background
}


.form-horizontal .form-group::before {
    content: " ";
    display: table;
}
.form-horizontal .form-group::after {
    content: " ";
    display: table;
}
.login-box .form-group input.pl-inp[type="text"] {
    width: 100%;
    padding-left: 44px;
	outline: 0;
	font-family: inherit;
	margin:0;
}
.login-box .form-group input[type="text"] {
    height: 44px;
    line-height: 30px;
}
.form-control {
    padding: 6px 12px;
    background-color: #fff;
    border: 2px solid #48a4ff;
	border-radius: 5px;
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
	transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
	font-size: 14px;
	display: block;
	background-image: none;
}
.login-box .height-30 {
    font-size: 12px;
    line-height: 30px;
	height: 30px;
	margin: 0;
padding: 0;
}
.onError {
    background: url(../images/msg_bg.png) no-repeat;
    
    padding-left: 25px;
    margin: 5px 0px 0px 10px;
    font-size: 12px;
    line-height: 22px;
    vertical-align: middle;
    color: red;
}

.glyphicon {
    position: absolute;
    top: 0;
    right: 0;
    width: 44px;
    height: 44px;
    text-align: center;
    line-height: 44px;
    color: #555;
    cursor: pointer;
	display:block;
}

i.glyphicon-user {   
   background: url(../images/users2.png) no-repeat;
    background-position: center;
	}
i.glyphicon-briefcase {
		   background: url(../images/suo2.png) no-repeat;
   background-position: center;

		}
.glyphicon-eye-open{
			 background: url(../images/eye.png) no-repeat;
   background-position: center;
			}
.form-control2 {
    width: 100%;
    padding: 6px 12px;
    background-color: #fff;
     border: 2px solid #48a4ff;
	border-radius: 5px;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    font-size: 14px;
	display: block;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
	
	font-family: inherit;
	line-height: 30px;
}
.margin-b-15 {
    margin-bottom: 15px;
}
.login-box .checkbox {
    padding-top: 0 !important;
	min-height: 27px;
	margin-top: 0;
margin-bottom: 0;
padding-left: 20px;
position: relative;
display: block;
margin: 0;
padding: 0;
}
.line-h-22 {
    line-height: 22px;
}
.pull-left {
    float: left !important;
}
.checkbox input[type="checkbox"] {
	opacity: 1;
    z-index: 1;
	position: absolute;
margin: 4px 0px 0px 3px;
line-height: normal;
box-sizing: border-box;
padding: 0;

}
.checkbox label{
vertical-align: middle;
min-height: 20px;
margin-bottom: 0;
font-weight: 400;
cursor: pointer;
max-width: 100%;

margin-left:22px;
}

.pull-right {
    float: right !important;
}
.font-12 {
    font-size: 12px !important;
}
.clearfix::before {
    content: " ";
    display: table;
}
.text-info {
    color: #000;
}
a {
	cursor: pointer;
	text-decoration: none;
}
 .login-btn {
    width: 100%;
    text-align: center;
    height: 44px;
    background: #3272c0;
    font-size: 20px;
    box-shadow: 0 5px 10px #FFE0AC;
}
.margin-b-30 {
    margin-bottom: 30px;
}
.btn-warning {
    color: #fff;
    border-color: #eea236;
}
.btn {
    display: inline-block;
    font-weight: 400;
  
    cursor: pointer;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 6px 12px;
   
    border-radius: 5px;
    -moz-user-select: none;
	vertical-align: middle;
	font-family: inherit;
}
.text-gray-9 {
    color: #999;
}
.text-center {
    text-align: center;
}
.login-box .login-share {
    width: 246px;
    margin: 0 auto;
}
.login-box .login-share .border-round {
    width: 40px;
    height: 40px;
    float: left;
    margin: 10px 21px;
    text-align: center;
    line-height: 36px;
    padding: 0;
    position: relative;
    font-size: 20px;border-radius: 100%;

border: 2px solid;

}
.border-c-success {
    border-color: #48bd1c !important;
}
.text-success {
    color: #89D280;
}
.border-c-danger {
    border-color: #e30200 !important;
}
.border-c-info {
    border-color: #57A5FF !important;
}
.login-footer {
    background: 0 0;
    border: 0;
    padding: 0;
    margin-top: 120px;
	display: block;
}

.container {
    min-width: 1180px;
	width: 1170px;
	margin-right: auto;
margin-left: auto;
padding-left: 15px;
padding-right: 15px;
}
.margin-b-20 {
    margin-bottom: 20px;
}
.row {
    margin-left: -15px;
    margin-right: -15px;
}
.text-center {
    text-align: center;
}
.padding-lr-10 {
    padding-left: 10px;
    padding-right: 10px;
}
.text-gray-e {
    color: #fff;
}
*, *::after, *::before {
    box-sizing: border-box;
}
.clearfix::after {
    content: " ";
    display: table;
	clear: both;
}
.container::after {
    content: " ";
    display: table;
	clear: both;
}

i.icon-wechat {
  width: 23px;
  height: 22px;
 
  display: inline-block;
  background: url(../images/wechat.png) no-repeat ;
  vertical-align: middle;
  
}
i.sina {
  width: 23px;
  height: 22px;
  display: inline-block;
  background: url(../images/sina.png) no-repeat ;
  vertical-align: middle;
  
}
i.qq {
	 display: inline-block;
	  width: 23px;
  height: 22px;
	 background: url(../images/qq.png) no-repeat ;
	 background-position:center;
	  vertical-align: middle;
	}
   div{
	   margin: 0;
    padding: 0;
}